@model BouvetCodeCamp.Felles.Entiteter.Lag

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detaljer</h2>

<p>
    @Html.ActionLink("Tilbake", "Index")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DocumentId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Poeng)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LagId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AktivitetsloggHendelser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Koder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Meldinger)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PifPosisjoner)
        </th>
    </tr>

    <tr>
        <td>
            @Html.DisplayFor(model => model.DocumentId)
        </td>
        <td>
            @Html.DisplayFor(model => model.Poeng)
        </td>
        <td>
            @Html.DisplayFor(model => model.LagId)
        </td>
        <td>
            @Html.DisplayFor(model => model.AktivitetsloggHendelser)
        </td>
        <td>
            @Html.DisplayFor(model => model.Koder)
        </td>
        <td>
            @Html.DisplayFor(model => model.Meldinger)
        </td>
        <td>
            @Html.DisplayFor(model => model.PifPosisjoner)
        </td>
    </tr>
</table>